<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script src="/assets/js/d3.v3.js"></script>
    <script src="/assets/js/rickshaw.js"></script>
    <title>URL Monitoring Service: Histogram</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- APP CSS -->
    <link href="/assets/css/rickshaw_graph.css?4" rel="stylesheet">
    <link href="/assets/css/rickshaw_detail.css?4" rel="stylesheet">
    <link href="/assets/css/rickshaw_legend.css?4" rel="stylesheet">
    <link href="/assets/css/rickshaw_lines.css?4" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <a class="btn btn-primary" href="/" style="margin-top:10px">Go Back</a>
      <h1>URL Data over Time:</h1>
      <h3>{{url.url}}</h3>
    </div>
    <div class="container-fluid">
      <div id="chart"></div>
      <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="legend"></div>
      </div>
      <div id="slider"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/histogram.js?4"></script>
    <script type="text/javascript">
      renderGraph('{{url.object_id}}', 'chart');
    </script>
  </body>
</html>